.THIS{
    color: var(--lwc-brandPrimary, token(brandPrimary));
    border: var(--lwc-borderWidthThin, t(borderWidthThin)) solid transparent;
    border-radius: var(--lwc-borderRadiusMedium, t(borderRadiusMedium));
    font-size: var(--lwc-fontSize3, t(fontSize3)); /* future sldsPlus work */  
    border-width: var(--lwc-borderWidthThin, t(borderWidthThin));
}

.THIS .shortHand{
    padding: var(--lwc-spacingXSmall, t(spacingXSmall)) var(--lwc-spacingXSmall, t(spacingXSmall));
}

.THIS .zeroSpace{
    padding: var(--lwc-spacingNone, t(spacingNone))
}