.THIS{
    color: token(brandPrimary);
    border: t(borderWidthThin) solid transparent;
    border-radius: t(borderRadiusMedium);
    font-size: t(fontSize3); /* future sldsPlus work */  
    border-width: t(borderWidthThin);
}

.This .shortHand{
    padding: t(spacingXSmall) t(spacingXSmall);
}