.slds-expandable-section .sldc-section__content {
        background: 0 3px var(--sds-g-color-brand-base-100, rgb(255, 255, 255));
}

.replaceProp{
        --sds-g-color-brand-base-100: rgb(255, 255, 255);
}

.doNotReplaceProp{
        --sds-g-non-exitent-100: rgb(255, 255, 255);
}

.multipleVars{
        border-color: var(--sds-g-color-border-1) var(--sds-g-color-border-2)
}

.nested{
        border-color: var(--sds-g-color-border-1, var(--sds-g-color-border-2, #fff))
}
    