.text-color{
    /* SLDS Validator and SLDS linter suggestion are different may be becuase of delta calc */
    color: #ff0000; 
}

.text-font-size{
    font-size: 16px;
}

.example {
    color: var(--slds-g-color-border-base-1);
    background-color: var(--slds-g-color-border-base-2);
    border-color: var(--slds-g-color-border-base-3);
    padding: var(--slds-g-spacing-4);
    font-size: var(--slds-g-font-scale-2);
}

.sample {
    color: var(--slds-g-color-border-base-1);
    background-color: var(--slds-g-color-border-base-2);
    border: var(--slds-g-sizing-border-1) solid var(--slds-g-color-border-base-3);
    padding: var(--slds-g-spacing-4);
    font-size: var(--slds-g-font-scale-2);
} 