.wrapper {
  background: white;
  box-shadow: var(--slds-s-button-shadow-focus, var(--lwc-shadowButtonFocus, t(shadowButtonFocus)));
}

.wrapper {
  outline: var(--slds-g-sizing-border-1, 1px) solid red;
  outline-width: var(--slds-g-sizing-border-1, 1px);
  outline-color: red;
}

.wrapper {
  outline-width: 2px;
}

.wrapper {
  padding: var(--slds-g-spacing-1, 4px) var(--slds-g-spacing-1, 4px) 2px var(--slds-g-spacing-1, 4px);
  margin: var(--slds-g-spacing-1, 4px) var(--slds-g-spacing-1, 4px) 2px var(--slds-g-spacing-1, 4px);
}

.wrapper {
  border-color: #001639 #001639 #001639 #001639;
}

.wrapper {
  border-top-color: #001639;
}

.wrapper {
  --slds-s-link-shadow-focus: 0 0 0 2px var(--slds-g-color-surface-1, #ffffff), 0 0 0 3px var(--slds-g-color-brand-base-40);
}


 .wrapper {
  top: var(--slds-g-spacing-1, 0.25rem);
  margin-bottom: var(--slds-g-spacing-3, 12px);
  padding-left: var(--slds-g-spacing-3, 12px);
  padding-right: var(--slds-g-spacing-3, 12px);
  padding-top: var(--slds-g-spacing-3, 12px);
  padding-bottom: var(--slds-g-spacing-3, 12px);
  margin-left: var(--slds-g-spacing-3, 12px);
  margin-right: var(--slds-g-spacing-3, 12px);
  margin-top: var(--slds-g-spacing-3, 12px);
  margin-bottom: var(--slds-g-spacing-3, 12px);
  border-left-width: var(--slds-g-sizing-4, 12px);
  border-right-width: var(--slds-g-sizing-4, 12px);
  border-top-width: var(--slds-g-sizing-4, 12px);
  border-bottom-width: var(--slds-g-sizing-4, 12px);
  border-inline-start-width: var(--slds-g-sizing-4, 12px);
  border-inline-end-width: var(--slds-g-sizing-4, 12px);
  border-block-start-width: var(--slds-g-sizing-4, 12px);
  border-block-end-width: var(--slds-g-sizing-4, 12px);
  border-left-color: #001639;
  border-right-color: #001639;
  border-top-color: #001639;
  border-bottom-color: #001639;
  border-inline-start-color: #001639;
  border-inline-end-color: #001639;
  border-block-start-color: #001639;
  border-block-end-color: #001639;
  margin: 0 var(--slds-g-spacing-2, 0.5rem) var(--slds-g-spacing-2, 0.5rem) 0;
  padding: var(--slds-g-spacing-4, 1rem) var(--slds-g-spacing-2, 0.5rem);
  border-radius: var(--slds-g-radius-border-circle, 100%);
  border-top-left-radius: var(--slds-g-radius-border-circle, 100%);
  border-top-right-radius: var(--slds-g-radius-border-circle, 100%);
  border-bottom-right-radius: var(--slds-g-radius-border-circle, 100%);
  border-bottom-left-radius: var(--slds-g-radius-border-circle, 100%);
  border-start-start-radius: var(--slds-g-radius-border-circle, 100%);
  border-start-end-radius: var(--slds-g-radius-border-circle, 100%);
  border-end-start-radius: var(--slds-g-radius-border-circle, 100%);
  border-end-end-radius: var(--slds-g-radius-border-circle, 100%);
  height: var(--slds-g-sizing-7, 24px);
  width: var(--slds-g-sizing-7, 24px);
  min-width: var(--slds-g-sizing-7, 24px);
  max-width: var(--slds-g-sizing-7, 24px);
  min-height: var(--slds-g-sizing-7, 24px);
  max-height: var(--slds-g-sizing-7, 24px);  
  width: var(--slds-g-sizing-13, 10rem);   
  width: 2px;
 }